<!DOCTYPE html>
<html>
  <head>
    <title>CHAT</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <%- partial('../blocks/header') %>
    
    <main>
      <h2><%= blocks.title %></h2>
      
      <%- body %>
    </main>
    
    <footer>
      <%- blocks.footer %>
    </footer>
  </body>
</html>
