<% layout('./layouts/page') %>
<% block('title', 'Simple desktop "Chat" app') %>

<p>Chat is a cloud-based messaging service that promises fast and secure messages. It is accessible from all of your devices at the same time. You can send messages, photos, videos, and files of any kind with Chat, and organize groups for up to 5000 people or channels for broadcasting to unlimited audiences.</p>