<header class='header'>
  <ul>
    <li><a href="/" class="header__link">Home</a></li>
    <% if (user) { %>
    <li><a href="/chat" class="header__link">Chat</a></li>
    <% } %>
  </ul>
  <ul>
    <% if (user) { %>
    <li><a href="" class="header__link" onclick="var form = $('<form method=POST action=/logout></form>');$(document.body).append(form);$(form).submit();return false">Logout</a></li>
    <% } else { %>
    <li><a href="/login" class="header__link">Log in</a></li>
    <% } %>
  </ul>
</header>
